@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');
.wrapper{
   max-width:1800px;
   margin:auto;
   width:100%;   
   font-family: Playfair Display, sans-serif; 
}
header{
    background-image: url(../bek.heder.png.png); 
    min-height: 840px; 

}
.wrapper_info{ 
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    height: 820px;
    color:#D4C17F; 
      
}  
.nav ul{
    min-width: 800px;
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px; 
    list-style-type: none;
    margin-bottom: 200px;
} 
li{
    transition: 1s;  
}
a{
   text-decoration: none; 
   color: white;  
} 
li:hover{
    border-bottom: 1px solid white;
}
.img{
    display: flex;
    margin-right: 200px;    
}
.tietle{   
    display: flex;
    width: 600px;
    height: 150px;
    padding-left: 100px;
    align-items: center;
    margin-left: 100px;   
    font-size: 48px;
}
h1{
    font-size: 48px;
    margin-bottom: 80px;    
}
.call{
    min-width: 800px;
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px; 
    list-style-type: none;}

.call-box{
    display: flex;    
    width: 750px;
    margin-top: 500px;
    
}    
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-decoration: none;}

#cnt{ margin-right: 400px;}
.icon{
    display: flex;
    margin-left: 180px;
    margin-bottom: 100px;
    width: 600px;
    height: 180px;   
    background-color:
    #242B33;
}
.main_conteiner{
    background-image: url(../back.fon.png.png);    
}
span{
    font-size: 36px;
    color:#D4C17F ;
    margin-bottom: 80px; 
    margin-left: 180px;
}
.crid_conteiner{
    display: grid; 
    width: 800px;
    height: 506px;    
    margin-left: 180px;
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.box1{
    background-image: url(../back.main.1.png.png);
}
.box2{
    background-image: url(../back.main.2.png.png);
}
.box3{
    background-image: url(../back.main.3.png.png);
}
.box4{
    background-image: url(../back.main.4.png.png);
}
.grid_continer_butten{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 560px;
    width: 100%;
}
.span{
    display: flex;
    justify-content: center;
    padding-top: 180px;
    padding-left: 10px;
    font-size: 32px;
    color:#D4C17F
}
.text{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 100px;
    width: 400px;   
    height: 114px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: white;   
}
.butten{
    display: flex;
    justify-content: space-between;
    width: 350px;   
    margin-top: 200px;
    margin-left: 20px;
}
button{
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.123);
    color: white;
    font-size: 12px;
    border: none;    
}
.btn{
    display: flex;
    width: 150px;
    height: 50px;
    font-size: 12px;
    color: white; 
    border: none;
 }
.btn2{
    background-color:  #d4c17fb9 ;
}
.butten2{
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 30px;
    margin-left: 20px;
}
.video{
    display: flex;
    width: 600px;
    height: 500px;
    background-image: url(../video.png);    
    margin-left: 290px;    
}
.vdn{
    margin: 0 auto;
    padding-top: 200px;
    width: 100px;
    height: 100px;   
}
footer{
    display: flex;
    background-color:
    #2D343C ;
}
.footerbox{
    width: 980px;
    height: 150px;
    padding-top: 50px;
}

